---

mysql_core:
   image: deardooley/mysql
   ports:
     - '3301:3306'
   restart: always
   environment:
     - 'MYSQL_DATABASE=agave-api'
     - 'MYSQL_USER=agaveapi'
     - 'MYSQL_PASSWORD=d3f@ult\$'
     - 'MYSQL_ROOT_PASSWORD=root123'

mysql_auth:
   image: deardooley/mysql
   ports:
     - '3306:3306'
   restart: always
   environment:
     - 'MYSQL_USER=agaveapi'
     - 'MYSQL_PASSWORD=d3f@ult\$'
     - 'MYSQL_ROOT_PASSWORD=root123'

mongo:
   image: agaveapi/mongo:2.6
   name: nosql.staging.agaveapi.co
   ports:
     - '27017:27017'
   environment:
     - 'MONGODB_USERNAME=agaveapi'
     - 'MONGODB_PASSWORD=d3f@ult\$'
     - 'MONGODB_DATABASE=api'
   restart: always

beanstalk:
   image: agaveapi/beanstalkd
   hostname: api.staging.agaveapi.co
   ports:
     - '11300:11300'
   restart: always

slapd:
    image: jstubbs/slapd
    ports:
      - "389:389"
    environment:
        LDAP_DOMAIN: agaveapi
        LDAP_ORGANISATION: "Agave"
        LDAP_ROOTPASS: {{ auth_ldap_bind_password }}
