---

{% if ha_deployment %}
hap.{{ tenant_id }}.agave.tacc.utexas.edu:
    image: jstubbs/haproxy_auth
    links:
        - httpd.{{ tenant_id }}.agave.tacc.utexas.edu
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - /home/apim/{{ tenant_id }}/{{ tenant_id }}.yml:/values.yml
        - /home/apim/{{ tenant_id }}/passwords:/passwords
    restart: unless-stopped

{% endif %}
httpd.{{ tenant_id }}.agave.tacc.utexas.edu:
    image: {{ apim_httpd_image }}
    links:
        - apim.{{ tenant_id }}.agave.tacc.utexas.edu
        - clients.{{ tenant_id }}.agave.tacc.utexas.edu
{% if use_hosted_id or use_remote_userstore %}
        - profiles.{{ tenant_id }}.agave.tacc.utexas.edu
{% endif %}
    volumes:
        - /home/apim/{{ tenant_id }}/{{ tenant_id }}.yml:/values.yml
        - /home/apim/{{ tenant_id }}/passwords:/passwords
        - /home/apim/{{ tenant_id }}/logs/httpd-access-logs:/var/log/apache2/access.log
        - /home/apim/{{ tenant_id }}/logs/httpd-error-logs:/var/log/apache2/error.log
{% if virtualhosts is defined %}
{% for vhost in virtualhosts %}
        - /home/apim/{{ tenant_id }}/httpd/{{ vhost.cert_file }}:/etc/apache2/ssl/certs/{{ vhost.base_cert_path }}/{{ vhost.cert_file }}
        - /home/apim/{{ tenant_id }}/httpd/{{ vhost.cert_key_file }}:/etc/apache2/ssl/private/{{ vhost.base_cert_path }}/{{ vhost.cert_key_file }}
{% if vhost.ssl_ca_cert_file is defined %}
        - /home/apim/{{ tenant_id }}/httpd/{{ vhost.ssl_ca_cert_file }}:/etc/apache2/ssl/certs/{{ vhost.base_cert_path }}/{{ vhost.ssl_ca_cert_file }}
{% endif %}
{% if vhost.ssl_ca_chain_file is defined %}
        - /home/apim/{{ tenant_id }}/httpd/{{ vhost.ssl_ca_chain_file }}:/etc/apache2/ssl/certs/{{ vhost.base_cert_path }}/{{ vhost.ssl_ca_chain_file }}
{% endif %}
{% endfor %}
{% else %}
        - /home/apim/{{ tenant_id }}/httpd/{{ cert_file }}:/etc/apache2/ssl/certs/{{ cert_file }}
        - /home/apim/{{ tenant_id }}/httpd/{{ cert_key_file }}:/etc/apache2/ssl/private/{{ cert_key_file }}
{% if ssl_ca_cert_file is defined %}
        - /home/apim/{{ tenant_id }}/httpd/{{ ssl_ca_cert_file }}:/etc/apache2/ssl/certs/{{ ssl_ca_cert_file }}
{% endif %}
{% if ssl_ca_chain_file is defined %}
        - /home/apim/{{ tenant_id }}/httpd/{{ ssl_ca_chain_file }}:/etc/apache2/ssl/certs/{{ ssl_ca_chain_file }}
{% endif %}
{% endif %}
{% if ha_deployment %}
    ports:
        - "4080:80"
        - "40443:443"
{% else %}
    ports:
        - "80:80"
        - "443:443"
{% endif %}
    restart: unless-stopped

apim.{{ tenant_id }}.agave.tacc.utexas.edu:
    image: {{ apim_image }}
{% if use_hosted_id or use_remote_userstore %}
    links:
        - profiles.{{ tenant_id }}.agave.tacc.utexas.edu
{% endif %}
    ports:
        - "9443"
        - "8243"
        - "6284"
    extra_hosts:
        - "{{ tenant_id }}.api.{{ agave_env }}.agaveapi.co:{{ core_host }}"
{% if update_auth_dns %}
        - "{{ mysql_host }}:{{ auth_mysql_host }}"
{% endif %}
    volumes:
        - /home/apim/{{ tenant_id }}/{{ tenant_id }}.yml:/values.yml
        - /home/apim/{{ tenant_id }}/passwords:/passwords
        - /home/apim/{{ tenant_id }}/logs/apim-logs:/wso2am-1.9.0/nohup.out
        - /home/apim/{{ tenant_id }}/apis:/apis
    restart: unless-stopped
    # uncomment to pass a profile to APIM container; e.g.
    # command: api-key-manager

clients.{{ tenant_id }}.agave.tacc.utexas.edu:
    image: jstubbs/agave_clients_dedicated
    links:
        - apim.{{ tenant_id }}.agave.tacc.utexas.edu
    ports:
        - "8002:80"
{% if update_auth_dns %}
    extra_hosts:
        - "{{ mysql_host }}:{{ auth_mysql_host }}"
{% endif %}
    volumes:
        - /home/apim/{{ tenant_id }}/{{ tenant_id }}.yml:/values.yml
        - /home/apim/{{ tenant_id }}/passwords:/passwords
    restart: unless-stopped

{% if use_hosted_id or use_remote_userstore %}
profiles.{{ tenant_id }}.agave.tacc.utexas.edu:
    image: jstubbs/agave_id_dedicated
    ports:
        - "8000:80"
{% if update_auth_dns %}
    extra_hosts:
        - "{{ mysql_host }}:{{ auth_mysql_host }}"
{% endif %}
    volumes:
        - /home/apim/{{ tenant_id }}/{{ tenant_id }}.yml:/values.yml
        - /home/apim/{{ tenant_id }}/passwords:/passwords
    restart: unless-stopped
{% endif %}
