---

{{ jupyter_host }}:
    image: jstubbs/jupyter_nginx
    links:
{% for tenant in jupyterhub_tenants %}
        - {{ tenant.jupyter_host }}
{% endfor %}
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - /home/apim/jupyterhub_tenants.yml:/values.yml
        - /home/apim/passwords:/passwords
        - /home/apim/nginx/{{ jupyter_cert_file }}:/etc/nginx/certs/{{ jupyter_cert_file }}
        - /home/apim/nginx/{{ jupyter_key_file }}:/etc/nginx/certs/private/{{ jupyter_key_file }}
{% for tenant in jupyterhub_tenants %}
        - /home/apim/nginx/{{ tenant.jupyter_cert_file }}:/etc/nginx/certs/{{ tenant.path }}/{{ tenant.jupyter_cert_file }}
        - /home/apim/nginx/{{ tenant.jupyter_key_file }}:/etc/nginx/certs/{{ tenant.path }}/private/{{ tenant.jupyter_key_file }}
{% endfor %}

{% for tenant in jupyterhub_tenants %}
{{ tenant.jupyter_host }}:
    image: jstubbs/jupyterhub
    name: jupyterhub_1
    ports:
        - "{{ tenant.port }}:8000"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/tokens:/tokens"
    environment:
        OAUTH_CALLBACK_URL: "{{ tenant.oauth_callback_url }}"
        OAUTH_VALIDATE_CERT: "{{ tenant.oauth_validate_cert }}"
        AGAVE_CLIENT_ID: "{{ tenant.agave_client_id }}"
        AGAVE_CLIENT_SECRET: "{{ tenant.agave_client_secret }}"
        AGAVE_BASE_URL: "{{ tenant.agave_base_url }}"
        AGAVE_TENANT_NAME: "{{ tenant.agave_tenant_name }}"
        AGAVE_TENANT_ID: "{{ tenant.tenant_id }}"

{% endfor %}